*{
    margin:0px;
    padding:0px;
    list-style-type:none;
    text-decoration: none;
}
html{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color:darkslateblue;
}
.wrapper{
    width:99.9%;
    border:1px solid black;
    margin:auto;
}
.header{
    background-color:#000;
    position:fixed;
    width: 99.9%;
    text-align: center;
    height:200px;
}
.list-items__services{
    display:flex;
    justify-content:space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}
.item__service{
    text-align: center;
    color:white;
}
.item__service a{
    color:white;
    font-family:Arial;
    font-size:16px;
}
.item__service a:hover{
    color:#00f7ff;
    transition:1s ease color;
}
.bg{
    z-index:1111;
    width: 99.9%;
}
.calc{
    text-align: center;
    color:#fff;
    font-size: 20px;
    border:3px solid orange;
    padding: 15px;
    border-radius:12%;
    display:inline-block;
    margin-top: 25px;
}
.calcmodal{
    margin:0px auto;
    width: 1000px;
    position:absolute;
    color:white;
    font-family:Arial;
    font-size:22px;
    margin: 0px auto;
    top:400px;
    left:400px;
    display:none;
}
.overlay{
    width:2000px;
    height:2000px;
    background:#000;
    opacity:0.9;
    position:absolute;
    top:0;
    left:0;
    display:none;
}
.calc-title{
    margin-bottom: 50px;
    margin-top: 50px;
}
#integration:hover{
    cursor: pointer;
}
.calcmodal{
    margin:0px auto;
}
.form-bd{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form-bd input{
    width: 200px;
    height: 50px;
    border-radius:25px;
    outline:none;
    border:none;
    padding-left: 20px;
}
#integration{
    width:320px;
    height: 50px;
    border-radius:25px;
    font-size:18px;
    margin-top: 35px;
}
#integration:hover,#submitdata:hover{
    background-color:orange;
    transition:1s ease background,color;
    color:white;
    outline:none;
    border:none;
    cursor: pointer;
}
#submitdata{
    margin-bottom: 50px;
    padding-left: 0px;
    width:220px;
    font-size: 20px;
}
.calcmodal__forms{
    display:flex;
    align-items: start;
}